@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: #f3f3f3;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}


/* header starts */

.navigation-bar {
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
}

.navbar-links {
    display: flex;
    gap: 5rem;
}

.nav-links,
.nav-logo {
    font-family: "DM Sans", sans-serif;
    font-size: 2.4rem;
    font-weight: 200;
    text-decoration: none;
    color: brown;
}

.nav-logo {
    font-size: 1.1rem;
}


/* header ends */


/* hero starts */

.hero-content {
    display: flex;
    gap: 10rem;
    margin-bottom: 10rem;
}

.hero-text {
    max-width: 75rem;
}

.hero-title {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 6rem;
    color: #181717;
    line-height: 1.2;
    margin-bottom: 5rem;
}

.hero-para {
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
    font-size: 3.2rem;
    font-style: italic;
    color: #606060;
    line-height: 1.24;
    margin-bottom: 3rem;
}


/* hero ends */


/*software and skills starts */

.skills,
.softwares {
    display: flex;
    gap: 3rem;
}

.softwares {
    margin-bottom: 5rem;
}

.skills {
    margin-bottom: 5rem;
}

.softwares h5,
.skills h5 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    color: black;
    text-decoration: underline;
    flex-basis: 16%;
}

.softwares p,
.skills p {
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-size: 1.8rem;
    color: black;
}

.softwares p:nth-child(1) {
    margin-bottom: 2.4rem;
}

.skills p {
    margin-bottom: 2.4rem;
}

.line {
    height: 2px;
}


/*software and skills ends */


/* contact starts */

.contact {
    display: flex;
    justify-content: space-between;
    margin-top: 7.8rem;
    margin-bottom: 19rem;
}

.contact h2 {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.2rem;
    color: #181717;
    max-width: 19ch;
}

.contact-links a:nth-child(1) {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.2rem;
    color: #181717;
    text-decoration: none;
    display: block;
    margin-bottom: 2.8rem;
}

.contact-links a:nth-child(2) {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    color: #181717;
    text-decoration: none;
}


/* contact ends */


/* footer starts */

.footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.footer h6 {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.2rem;
    color: #2429af;
}

.social-links {
    display: flex;
    gap: 3rem;
}

.social-link {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 10;
    font-size: 2.1rem;
    color: #181717;
    text-decoration: none;
}

.img-response {
    max-width: 100%;
    height: 40px;
}

.img-responses {
    max-width: 100%;
    height: 60px;
}


/* footer ends */


/* blog page css starts */

.blog-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 5rem;
}

.blog-card-title,
.blog-card-subtitle,
.blog-card-para,
.blog-card-link {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    color: #181717;
}

.blog-card-title {
    font-size: 4.2rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 2.5rem;
}

.blog-card-subtitle {
    margin-bottom: 3.5rem;
}

.blog-card-para {
    font-size: 3rem;
    line-height: 1.4;
    color: #606060;
    margin-bottom: 2rem;
}

.blog-card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-card-link {
    font-weight: 500;
    text-decoration: underline;
    margin-bottom: 3rem;
}

.card {
    margin-top: 114px;
    margin-bottom: 114px;
}

.color-grey {
    color: #606060;
}

.underline {
    text-decoration: underline;
}

.mb-4 {
    margin-bottom: 4rem;
    display: inline-block;
}


/* blog page css emds */

.photo {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.2rem;
    color: #181717;
    max-width: 19ch;
}

.body {
    background-color: #f5f5f5;
    color: #4e4e4e;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


/* form styling starts */

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 5rem;
    margin-block: 2rem;
}

.form label {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    color: #181717;
}

.form-control {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #181717;
    background: transparent;
    color: #181717;
    font-size: 1.8rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

.btn {
    border-radius: 0;
    border: none;
    background: #181717;
    color: #fff;
    font-size: 2rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    padding: 0.5rem 1rem;
    cursor: pointer;
    /* width: 100%; */
    margin-bottom: 1.5rem;
    display: inline-block;
    max-width: 15%;
}


/* form styling ends */

.form input {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #181717;
    background: transparent;
    color: #181717;
    font-size: 1.8rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

.img-res {
    max-width: 100%;
    height: 200px;
    display: inline-block;
    margin-left: 50;
    margin-right: auto;
    border: 4px ridge black;
}