{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
</head>

<body>
    <header>
        <nav class="navigation-bar">
            <div class="container">
                <div class="navbar-content">
                    <a href="{% url 'home' %}" class="nav-logo">Blog.</a>
                    <div class="navbar-links">
                        <a href="{% url 'profile' %}" class="nav-links">Profile</a>
                        <a href="{% url 'my_blogs' %}" class="nav-links">My Blogs</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main>
            <div class="container">
                {% block content %} {% endblock content %}
            </div>
        </main>

        <footer>
            <div class="container">
                <div class="footer">
                    <h6 class="footer-title">Copyright &copy; 2022</h6>
                    </h6>
                </div>
            </div>
        </footer>
</body>

</html>